@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.left img{
  width: 50px;
  height:50px;
}

header{
  background-color: white;
  position: sticky;
  height:66px;
  top:0;
}

.container{
  padding:0 3vw;
}

nav{
  font-size: 15px;
  padding-top: 9px;
}

nav ul li{
  list-style: none;
  padding: 0 12px;
}

.section1{
  background-color: #f2f2f2;
/*   height:122vh; */
}

.inputclass{
  width:30vw;
  padding: 10px;
  background-color: #e7e2e2;
  border: 1px;
  border-radius: 5px;
}

.homeImg{
  width: 93vw;
  margin: 12px 0;
}
