.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.semibold{
  font-weight: bolder;
}

.space-between{
  justify-content: space-between;
}

.mx-3{
  margin-left: 12px;
  margin-right: 12px;
}